${ip1.asText()}.${ip2.asText()}.${ip3.asText()}.${ip4.asText()} - - [${ts.asText()} -0800] "GET /item/${(1+item?number)?string.computer} HTTP/1.1" 200 ${br.asText()} ${os.asText()} "CUSTOMER=${cust.asText()}"
